<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload XML Files</title>
</head>
<body>
    <h1>Upload Fortify External Metadata XML Files</h1>

    <div th:if="${message}" style="color: green;">
        <p th:text="${message}"></p>
    </div>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${warning}" style="color: orange;">
        <p th:text="${warning}"></p>
    </div>

    <form method="POST" enctype="multipart/form-data" th:action="@{/upload}">
        <p>
            Select externalmetadata.xml files to upload: <br/>
            <input type="file" name="xml_files" multiple="multiple" accept=".xml" />
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>
</body>
</html>